variables.tf
terraform.tfstate.backup
terraform.tfstate
crash.log
in2out_PAZ.newtf
.terraform/plugins/linux_amd64/terraform-provider-azurerm_v1.39.0_x4
.terraform/plugins/linux_amd64/terraform-provider-local_v1.4.0_x4
.terraform/plugins/linux_amd64/terraform-provider-null_v2.1.2_x4
.terraform/plugins/linux_amd64/terraform-provider-template_v2.1.2_x4
.terraform/plugins/linux_amd64/lock.json
